<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/time.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/LogoHeader1.png"/>
  <script src="/script.js"></script>
  <script src="/time.js"></script>
</head>
<body>
  <header>
    <div class="logo">
    <img src="/LogoHeader1.png" alt="logokerja" />
    <a>Cari Kerja. <span class="small">com</span></a>
    </div>
  </header>
  <main>
    <div class="wrapper">
      <% if defined?(pesan_gagal) && pesan_gagal && !pesan_gagal.empty? %>
        <div class="alert alert-danger" id="errorMsg" style="display: block;">
        <%= pesan_gagal %>
        </div>
      <% end %>
      <% if defined?(pesan_sukses) && pesan_sukses && !pesan_sukses.empty?%>
        <div class="alert alert-success" id="successMsg" style="display: block;">
        <%= pesan_sukses %>
        </div>
      <% end %>

      <form action="/register" method="post">
        <h1>Login</h1>

        <div class="input-box">
          <input type="text" name="username" id="username" placeholder="Username">
          <i class='bx bx-user'></i>
        </div>

        <div class="input-box">
          <input type="password" name="password" id="password" placeholder="Password">
          <i class='bx bx-show toggle-password' onclick="showPassword()"></i>
        </div>

        <button type="submit" class="btn">Login</button>
      </form>
    </div>
  </main>
  <div class="clock-container">
    <div class="clock-time" id="clock">00:00:00</div>
    <div class="clock-date" id="date">Loading date...</div>
  </div>
</body>
</html>
